# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.sqlite
*.sqlite3
*.db

# Virtual environments
.venv/
venv/
ENV/
env/

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# Environment variables
.env

# IDE / Logs
.vscode/
.idea/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
